:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 1500;
  height: 100%;
  width: 100%;
  background-color: #5b5858;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 1500;
  height: 100%;
  width: 100%;
}

.filters-container {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  padding: 24px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.filter-text-field {
  flex: 0 1 35%;
  height: 56px;
}

.filter-button {
  flex: 0 1 30%;
  height: 56px;
}

.no-country-found-error {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 24px;
}
